<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/main.min.css?bust={% random_string %}" />
</head>
<body>
	<h1>{{ page.title }}</h1>

	<p id="message"></p>

	{{ content }}

	<script type="text/javascript" src="/vendor/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/js/main.min.js?bust={% random_string %}"></script>
	<script type="text/javascript" src="/js/main.min.js?bust={% random_string %}"></script>
</body>
</html>